body {
    background-color:black;
    font-family:arial;
    color:white}

 h1{
     color:grey;
     text-align:center;

     font-family:verdana}

.maindiv {
    background-color:white;
    font-family:Georgia;
    color:black;
    width:700px;
    padding:20px;
    border-radius:25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.1em;
   

text-align:left
}
label{
    display: inline-block;
    clear: left;
    width: 130px;
    text-align:left; 
}
input {
  display: inline-block;
 
}
#result
{
 text-align:left;
 font-family:Georgia;
 
 
}

